In [ ]:
import pandas as pd

# Load your dataset with an appropriate encoding
file_path = "position_salary.csv"  # Replace with your dataset's path
try:
    data = pd.read_csv(file_path, encoding='utf-8')  # Default encoding
except UnicodeDecodeError:
    # Try an alternative encoding if utf-8 fails
    data = pd.read_csv(file_path, encoding='latin-1')  # Common fallback

# Extract the 'Position' column and get unique job roles
unique_job_roles = data['Position'].dropna().unique()

# Convert to a list
unique_job_roles_list = unique_job_roles.tolist()

# Print the list of unique job roles
print("Unique Job Roles:")
i=0;
for role in unique_job_roles_list:
    i+=1
    print(i,":",role)

Unique Job Roles:
1 : QNXT Configuration QA/Testing SME
2 : Provider Data Management
3 : Accessibility Engineer QA
4 : Senior Software Engineer
5 : Java Developer/Spring Boot
6 : iOS Tester
7 : GCP Cloud Architect
8 : Technical Project Manager Remote
9 : Provider Data Setup
10 : Technical Lead(Data ADF)
11 : System Engineer
12 : Sr. Tableau or Power BI Developer
13 : Android Tester
14 : Sr. Data Ingestion/Analytics Engineer
15 :  Product Technical Specialist
16 : Data Architect
17 : QA Tester /Selenium
18 : Cloud Architect
19 : DevOps Eng
20 : Tapestry Manager of Configuration
21 : QNXT Configuration SME
22 : Sr. software engineer/.Net,Azure
23 : Facets SME
24 : Senior Business Analyst
25 : Claims SME
26 : Senior Data Program Manager
27 : IAM Architect
28 : Senior Analyst
29 : Senior Software Engineer/.Net
30 : Sr. Data Platform Engineer
31 : QNXT technical role
32 : Tapestry Provider Analyst
33 : FHIR SME
34 : BA Healthcare/SQL
35 : Sr. .Net developer
36 : Associate Lead Analys
37 : Program Manager
38 : Scrum Master
39 : QA Engineer
40 : Senior Analyst - UI/UX
41 : Tech Lead, DevOps, AWS
42 : GCP Engineer
43 : Business Analyst
44 : FHIR consultant
45 : QA Analyst
46 : FileNet Admin
47 : QNXT technical SME
48 : Project Manager
49 : Sr. Software Enginee/ETL SQL PowerBI
50 : QA Engagement Manager
51 : Sr. Program manager
52 : QNXT testing SME
53 : BA Lead/Project manager
54 : QA/SDET
55 : Tech Lead : Ab-initio/ ETL powerBI
56 : Lead QA
57 : Product Manager
58 : RPA Engineer
59 : Data Engineer / SQL/SSiS/Python
60 : QNXT Claims and Enrollment
61 : Azure architect
62 : Provider Disputes Resource
63 : Business Analyst/HRP
64 : Human Resources Associate
65 : Incident manager
66 : Technical Lead/SQL/SSIS/hadoop
67 : Clinical Data/DevOps
68 : Epic Implementation
69 : QA manager
70 : Sr. Software/.Net, JavaScript
71 : Enterprise Architect
72 : Azure Architect
73 : Reimbursement SME
74 : QA Eng, Phoenix, AZ
75 : Product Owner
76 : Office Manager
77 : .Net /JavaScript
78 : Project Manager/ QA Manager
79 : Senior Analyst - RPA
80 : Informatica engineer
81 : Product Manager/QA
82 : Windchill Sol Architect
83 : FrontEnd JavaScript
84 : QNXT Benefits/COB SME
85 : Technical SME - Edifec
86 : Java Developer
87 : .Net Developer
88 : GCP Architect
89 : DevOps Product Owner Role
90 : Project manager
91 : IAM Expert
92 : Cloud IAM Expert
93 : .Net Architect
94 : Salesforce Architect
95 : Account Manager
96 : Product Manager/DevOps/ IAM/PM
97 : GCP Solution Engineer
98 : GCP Data Engineer/Spark,Python
99 : Cloud/ DevOps Engineer
100 : Account Manager/ HealthCare(Payer/Provider)
101 : API, C#, Selenium Testing
102 : Cloud Engineer
103 : SQL Developer
104 : Infor M3 Technical
105 : Database Tester
106 : QNXT Technical SME
107 : Java Backend Developer
108 : Technical Program Manager
109 : QNXT technical Role
110 : Project Coordinator(QNXT)
111 : HealthCare System Analyst
112 : Systems Analyst (QNXT)
113 : Senior Analyst RPA BA
114 : Informatica Developer
115 : Technical Writer (QNXT)
116 : Database Administrator
117 : Business analysts(Provider, Payor, RCM)
118 : Qnxt, .Net, SQL, JavaScript
119 : PowerBi/ETL/Azure/DataWarehouse
120 : GCP Data Engineer/Hadoop,Python
121 : DevOps/azure, python, java, terraform
122 : Facets, Networx, Business Analyst
123 : Provider Dispute/Claims
124 : QNXT/Business Analyst/QA/SQL
125 : GCP Solution Eng/GKE, python, sql
126 : Facets EDM
127 : Hadoop Tester/Bigdata tester
128 : Cloud engineer/ Gcp,kubernetes
129 : Big Data Tester/ Hadoop, Azure
130 : Big Data Lead/ Hive, Hadoop, python
131 : EPIC Trainer/ EMR, Tapestry
132 : .Net Lead/Angular, JavaScript
133 : Network Engineer , Firewall, NextGen
134 : Bigdata tester, Hadoop, Azure
135 : Oracle PL/SQL developer
136 : SFDC Mulesoft Integration lead Developer
137 : EPIC Role, Cadence, My Chart, Cogito
138 : HRP Pricing resources, HealthRules
139 : DevOps manager, SAAS, Linux
140 : BI Architect
141 : Tech Support, Incident manager
142 : SAP S4 HANA FICO Consultant
143 : Business Analyst  AML/KYC
144 : DevOps Infrastructure Eng
145 : Facets Technical Consultant
146 : Cerner Project manager
147 : DevOps manager, SAAS, FedRAMP, FISMA
148 : Human resource Benefits associate
149 : IT Support, Network, Server
150 : QNXT Testing Manager/Lead
151 : .Net Developer
152 : EPIC Tapestry Provider data, QNXT, Facets
153 : Caboodle Developer
154 : Automation QA .NET, Angular, C#, Selenium
155 : BI Cognos Developer
156 : SQL Developer, HRP
157 : Cognos Developer
158 : Advance Maths Teacher
159 : Maths Teacher
160 : Research Analyst
161 : math /Research Analyst
162 : ServiceNow
163 : Python with react
164 : MUREX
165 : DATA ENGINEER
166 : data engineer
167 : Data Engineer
168 : REsearch Analyst
169 : Research analst
170 : Python Developer
171 : BUISINESS Analyst
172 : citicorp
173 : Salesforce FSL
174 : buusiness analyst
175 : Scripting
176 : HR DATA
177 : Resarch Analyst
178 : HR Business Analyst
179 : AML Triage Analyst
180 : Business Analyst - Asset Management
181 : Python Backend Developer
182 : IICS
183 : python developer
184 : python with ML, NLP
185 : Security ISAM
186 : python Developer Data scienctist
187 : Python+Data Science+Computer Vision
188 : IICS Developer
189 : Python+Data Science
190 : Python ML +NLP
191 : Python with ML
192 : Data Science
193 : HR Data Analsyt
194 : security engineer ISAm
195 : python backend developer
196 : Python+ DS
197 : python backend
198 : Python+DS
199 : IICS developer
200 : DATA ANALYST
201 : Data Engineer - Snowflake & Azure
202 : Data Engineer - AWS
203 : Research analyst
204 : Production Support Middleware
205 : Business and QA Analyst
206 : HR Data Analyst BA
207 : Rpa developer
208 : Business Analysis
209 : RPA developer
210 : Middle ware Production Support
211 : Servicenow Secops
212 : Business
Analyst/Product Owner
213 : RPA Developer
214 : BigQuery Developer
215 : Servicenow
216 : Murex Developer
217 : research Analyst
218 : ELK Engineer
219 : iOS
220 : Druid Apache
221 : apache druid
222 : SYBASE
223 : Security engineer
224 : Math
225 : Computer vision
226 : PAYTHON AI-ML
227 : ServiceNow Dev. (SAM)
228 : computer vision
229 : murex developer
230 : Apache Druid
231 : Python backend
232 : Machine learning with CV
233 : Python Backend
234 : ML (NLP)
235 : AWS Solution Architect
236 : C and Linux
237 : AWS Databricks
238 : Hr data business analyst (BA)
239 : HR, BA, Data Science
240 : IOS Developer
241 : Computer Vision
242 : Data Science+ ML
243 : Data Science+ Computer Vision
244 : python + data science
245 : ELK Engineer+ Full Stack
246 : python with computer vision
247 : python + computer vision
248 : Linux +C
249 : Snowflake Admin
250 : Big Data with GCP Architect
251 : Data Scientist
252 : Control Assurance
253 : snow flake + oracle cloud data architect
254 : Research Anlyst
255 : GCP ADMIN
256 : Data Engineer/Architect
257 : BA+ Manual Testing
258 : AWS solution Architect
259 : C, C++ And Linux
260 : Solution Architect
261 : AWS databricks
262 : Data Engineer/Anlystics
263 : QA Automation Grafana
264 : GCP DATA Engineer
265 : IOS developer
266 : math faculity
267 : Murex
268 : Technical lead Data Engineer
269 : API integration Apigee
270 : HR Data BA
271 : IAM Test Analyst
272 : Servicenow SecOps
273 : GCP Admin
274 : Production support
275 : Cloud security
276 : IICS, Technical Architect
277 : Bigdata Eng with GCP
278 : DevSecOps Engineer
279 : Mainfrme Nasco
280 : IICS Data Engineer
281 : IICS, Advisor Data Engineer
282 : AWS Architect
283 : AWS Architect - (All cloud)
284 : Basic/Advanced Maths Teacher
285 : IICS, Lead Technology Analyst
286 : Data Engineer, Technical Lead
287 : IICS, Associate Architect
288 : C and Linux, Software Architect
289 : collibra
290 : Collibra
291 : HR DATA BA
292 : Business Analyst - Banking, & payment sectors
293 : Mendix
294 : Senior Business Analyst-TDX
295 : Mainframe Support
296 : middleware/ soution architect
297 : C & Linux
298 : Cloud Architect -(AWS, Azure, GCP) , Snowflake
299 : cloud architect + other roles as well
300 : solution architect
301 : ba /collibra user (available for today's interview as well)
302 : mainframe development
303 : collection manager
304 : Azure cloud Architect
305 : This mail id already exists in our system
306 : IICS Developer, Assistant Consultant
307 : High Touch Operations
308 : BA TDX
309 : research analyst
310 : production middleware
311 : Mainframe Nasco
312 : AWS Cloud Architect
313 : Azure/devops
314 : ServiceNow DeveloperSAM
315 : Senior Identity Engineer
316 : Oracle webcenter
317 : SAP ATTP
318 : data analys/collibra
319 : IBM API
320 : MATH
321 : Servicenow Developer SAM
322 : C+Linux
323 : C+ Linux
324 : BA/market research
325 : GCP Devops
326 : GCP Data Engineer
327 : Reasearch Analyst
328 : pythomn ML
329 : Performance testing
330 : Python ML
331 : UI Angular
332 : Database Engineer
333 : Mainframe Developer with NASCO Claims Processing

334 : Python Fullstack Developer
335 : UI with REACT
336 : mean/mern
337 : Meanstack Developer
338 : Application/ Product
339 : UI Develo[er
340 : UI React
341 : Verilog
342 : Cuda Developer
343 : Bigdata Developer
344 : Selenium/Python
345 : UI with React
346 : Integration Developer
347 : Eclipse Architect
348 : Mean Stack
349 : BMC Control Admin
350 : Power BI
351 : Software Engineer
352 : ui angular
353 : full stack +ui developer
354 : Verilog developer
355 : PGT Chemistry
356 : BMC Control-M version
357 : ui/ angular
358 : UI REACT
359 : BMC Control
360 : Selenium Python
361 : NPD Design-Chassis
362 : AWS Solution Architect|AWS Data Architect
363 : Lead Data Engineer
364 : MernmStack
365 : Salesfoce Developer
366 : Basic/Advance Maths Teacher
367 : Salesforce
368 : Mernstack
369 : Python Machine learning+ NLP
370 : Linux/CI/CD/Jenkin/AWS/Devops
371 : Python
372 : AWS/Devops
373 : Linux(UNuntu)/AWS
374 : Salesforce Developer
375 : Python Fullstack
376 : React Native
377 : Cyber Security
378 : cyber Security Practice
379 : Meanstack
380 : MS Dynamics 365
381 : I Manage Support
382 : Triage Analyst
383 : UI Developer
384 : Golang Developer
385 : Integration Engineer
386 : Catia BIW
387 : IISC
388 : HR Data BA, data Modelling
389 : Basic Math
390 : salesforce
391 : SAS
392 : IOS
393 : Data Engineer GCP
394 : Ab Initio Developer
395 : Distributed sup eng, Infrastructure Lead
396 : C++
397 : Oracle PLSQL
398 : Big Query
399 : Python fullstack
400 : AWS
401 : Cisco Networking
402 : Cloud Security
403 : Big Data with GCP
404 : Ab initio
405 : Ab intio
406 : Product Operations L2- SAAS
407 : Liferay
408 : API Connect
409 : Salesforce architect
410 : IBM API Connect
411 : Salesforce Consultant
412 : AWS Cloud Engineer
413 : Nomad Developer
414 : DI Eclipse Architect
415 : Production Support
416 : Senior WordPress Expert and Full Stack Developer
417 : UI/UX Designer+Figma
418 : Scrum master
419 : DI Eclipse Architect, Senior Product Architect
420 : Security Engineer-ISAM, Senior Technical Lead
421 : Workday Techno Functional
422 : Sr. Technical Lead  Azure Cloud & DevOps
423 : Legal Operations
424 : Principal Software Engineer, BNY Mellon London
425 : Mainframe
426 : Application Support- Oracle,SQL
427 : PHP Developer
428 : SF NetZero Developer
429 : Oracle Fusion EBS
430 : Python Fullstack Engineer
431 : Linux Administrator
432 : Java, Python, NodeJS, ESQL, C and C++
433 : Azure Data
434 : Linux OS &amp; Server configuration &amp; management
435 : DI Eclipse Architect, Solution Architect
436 : Sap ATTP
437 : Test Engineer
438 : (JAVA/J2EE).
439 : Azure virtual
440 : Cyber Security, IT Security Architect
441 : NDP Design Chassis
442 : UI/UI/UX Designer
443 : Risk and portfolio, Vice President - Revenue Analytics & Strategy
444 : Credit risk strategy and fraud
analytics
445 : UI/UX Designer
446 : Functional Testing, Performance Testing, Security
Testing and API Testing.
447 : UI/UX Designer + Figma
448 : aPI Connect
449 : Golang
450 : Risk and Portfolio
451 : Database administraor
452 : DI Eclipse Architect, Architect Engineering Manager,
453 : Devops architect
454 : UI Developers
455 : IBM Datapower
456 : Data engineer-GCP
457 : c++
458 : DI Eclipse Architect, Platform Architect,
459 : UI/UX Designer+Fixma
460 : Risk and portfolio
461 : java Architect
462 : DI Eclipse Architect, Assistant Vice President
463 : IBM DATA POWER
464 : Performance Testing
465 : Performance Architect
466 : Mainframe lead
467 : Database Administra
468 : Senior Architect
469 : Data Engineer Spark
470 : Python Fullstack Enginee
471 : Python with Technical Writer
472 : Python Backend Developer(Pro)
473 : Oracle EBS Analyst
474 : Sr Servicenow Developer
475 : Salesforce Lead
476 : Liferay Lead
477 : C++ Lead
478 : Salesforce Technical Lead
479 : Java with Flowable
480 : Global Technical Lead(C++,Linux)
481 : Java with Flowable, Senior Software Engineer
482 : Prinicipal Data Eng, Principal Consultant
483 : Data Engineer, Data Engineer
484 : Lead Product Design
485 : Python,Software Development
486 : Snowflake Data Engi, ETL Lead
487 : Workday Integration
488 : Supply chain
489 : NPD interior trim design
490 : Snowflake Data Engineering
491 : RPA Developed Interviewer
492 : UI/UX Designer+Figma,
493 : Supply Chain
494 : Workday Integration,
495 : DI Eclipse Architect,AWS Cloud Architect
496 : Prinicipal Data Eng, Senior Data Engineer
497 : UI with angular
498 : product Manager
499 : PRODUCT MANAGEMENT AND DEVELOPMENT
500 : Product manager -AI
501 : Lead Data Architect
502 : Snowflake technical architect
503 : Snowflake Data Engi
504 : UiPath, Process Automate, Win Automation, Cicero, and AA (Automation Anywhere), C#.Net, VB.NET, Asp.net, Ajax, Visual Studio. Net, SQL server and SSIS, Web services, Ado.net, Big Bucket, VSS, TFS and SVN
505 : UiPath, Power Automate, SQL, Alteryx, Power Shell, Power BI, Excel (VBA), VB.NET, Python, Tableau, MS Access, DevOps
506 : Automation Anywhere, Document Automation, IQ BOT and AARI, Power Automate, .Net, SQL and Python
507 : C#, ASP.Net, ADO.Net,PHP, Automation Anywhere, UiPath (Trained) ,BluePrism (Knowledge), HTML, CSS, Microsoft .Net, SQL Server 2008, Microsoft Visio, Snagit and Lucid chart,visio,Jira,SericeNow
508 : UiPath, Word, Excel, Web Applications, MS SQL Server, Citrix Application, Rumba Mainframe application, Oracle Database, Tableau Desktop, .NET 2.0, Visual Studio .NET, ADO.NET
509 : Automation Anywhere, UiPath, Work Fusion, Kryon:, Soft motives, Python, Data Extraction, Azure Boards Implementation, PowerBI developer
510 : Snowflake Data Engi, Data Integration Engineer
511 : Java with Golang, Technical Architect
512 : Product Manager, Manager of Product Management
513 : Product Manager, Product Lead
514 : RPA Developer, RPA Senior Solution Architect
515 : Product Manager,
516 : Product Manager, Product Owner
517 : Performance Testing, Performance Test Lead,
518 : Snowflake Data Engineer
519 : Data Analyst
520 : React Native Architect
521 : Prinicipal Data Eng
522 : Service Operations Manager
523 : NPD Trim design
524 : Solution architect
525 : Imanage Support
526 : NPD Design-Chassis, Engineering Head
527 : Distributed sup eng
528 : Data Bricks engineer
529 : Java with flowable
530 : AWS CLOUD &amp; DEVOPS ENGINEER
531 : JAva with Flowable
532 : Cloud Engeener
533 : lead Consultant -power BI
534 : UI Lead
535 : Sr.Colud Data Engineer
536 : NDP Design Chassis, Vehicle Integration and Chassis Design,
537 : Data Engineering
538 : AML
539 : QA Manager Automation
540 : Hydrallic Project manager
541 : React native
542 : Abinitio Lead
543 : Linux Administrator,Openshift admin,cloud operations
544 : ServiceNow SAM
545 : Train Design - Car body shell Engineering at Alstom Transportation
546 : Sr Developer
547 : GCP Architect(Cloud architect)
548 : Golang Developer/ Azure Devops
549 : SAP SCM ,SAP MM
550 : Senior consultant/ Software developer
551 : Sr.Test Engineer
552 : Microsoft Dyna. 365
553 : PRINCIPLE DATA ENGINEER
554 : AZURE VIRTUVAL
555 : UI/UX Designer+FIGMA
556 : Salesfoce Developer
(PLATFORM SPECIALIST)
557 : QA automation
558 : SUPPLY CHAIN WAREHOUSE
559 : SAP ATTP FUNCTIONAL
560 : SNOWFLAKE DATA ENGINEER
561 : HTOM
562 : Liferay Full Stack
563 : Snowflake Data EngiNEER
564 : Mendix Developer
565 : product manager
566 : RPA
567 : Snowflake Data Engi,
568 : Azure data
569 : NETWORK ENGINEER
570 : Linux admin
571 : ETL/Informatica
572 : verilog
573 : SAP MDG Developer
574 : Data Science, AI
575 : OIC Developer
576 : Java with Golang
577 : Oracle Lead Consultant
578 : Oracle PL/SQL Developer
579 : Oracle Supply Chain Management
580 : Java Script
581 : Java Flowable
582 : Java technical lead
583 : Sr.PL SQL Developer
584 : Drupal CMS + PHP
585 : QA ANALYST
586 : Grafana
587 :  Consulting Practice Manager
588 : Java Full stack
589 : Principal Engineer
590 : Verilog,UVM
591 : Java Golang
592 : Workday integration
593 : Verilog,VLSI
594 : Snokflak
595 : SALES FORCE TECHNICAL ARCHITECT
596 : IAM, Azure
597 : Cyber Security, Aws, Azure
598 : F u l l Stack Web Developer
599 : oracle DBA
600 : Oracle EBS
601 : verilog,SOC,
602 : Senior System Administrator
603 : Power Bi
604 : ETL, GCP, Informatica
605 : Snowflake data engg
606 : Portal / Application
607 : Pega Product Manger
608 : Slaesforce
609 : Oracle (PL/SQL),
610 : Slaesforce QA
611 : Performance Test Architect
612 : Accounting
613 : Snowflake Developer
614 : Data science AI/ML
615 : oracle ebs
616 : Oracle BI ETL Devel
617 : PEOPLESOFT DEVELOPER
618 : Oracle,PLSQL,Unix shell Scripting
619 : Oracle
620 : Test Automation Lead/Architect
621 : Oracle Banking Trade Finance
622 : Manager-Projects
623 : Automation &Functional Testing
624 : One Shield Dragon Developer
625 : Oracle BI ETL
626 : NPD interior Design
627 : Network engineer
628 : Python Automation
629 : Oracle,PL/SQL
630 : Network Engineer
631 : One Shield Dragon Developer/QA
632 : java with AWS Cloud Developer
633 : one shield dragon developer
634 : Data engineer CGCP
635 : OneShield Dragon
636 : SFDC with Netzero
637 : Prinicipal Data Engineer
638 : Oracle Fusion and E
639 : ServiceNow CMDB
640 : Tableau
641 : Business analyst
642 : Asset Managemen, Senior Business Analyst
643 : Oracle BI ETL Developer
644 : DI Esclipe architec
645 : Principal Data
646 : Oracle DBA
647 : SFDC with NetZero
648 : BA Asset Managemen, Project Manager Business Analyst
649 : Product manager,Product owner
650 : BA Asset Managemen, Senior Business Analyst
651 : oracle BI ETL Developer
652 : Oracle Banking
653 : ui/ux developer
654 : Servicenow Developer
655 : saleforce Developer
656 : servicenow
657 : ORACLE BANKING TRADE FINANCE
658 : ORACLE BANKING TRADING TRADING FINANCE
659 : salesforce developer
660 : data science
661 : OPENSHIFT VIRTUALIZ
662 : ndp design chassis
663 : Jawa with flowable
664 : Python Fullstack developer
665 : Product Manager product owner
666 : java with flowable
667 : product manager product owner
668 : DATABASE ADMINISTRATOR
669 : ORACLE FUSION EBS
670 : snowflake
671 : Product Manager Product owner
672 : UI/UX Developer
673 : TABLEAU
674 : LINUX ADMINISTRATOR
675 : ui
676 : devops
677 : Python developer
678 : C + Linux
679 : Front End Developer
680 : Data Engineer Spark, Big data developer
681 : GCP Devops / Admin
682 : Linux,Unix
683 : Selenium-Python
684 : oracle webcentr
685 : cypress with automation testing
686 : BMC control admin
687 : ORACLE EBS ANALYST
688 : SFDC PRINCIPAL CONSULTANT
689 : drupal cms+php
690 : RISK AND PORTFOLIO
691 : NDP DESIGN CHASSIS
692 : RPA DEVELOPER
693 : clm
694 : java full stack Developer
695 : ORACLE EBS
696 : imanage support
697 : NPD Design-Chassis, Senior Lead Engineer
698 : php developer
699 : mainframe suport
700 : UI/UX Designer+fixma
701 : AWS CLOUD
702 : Oracle cloud EBS Financial consultant
703 : ibm api connect
704 : Oracle Insurance Policy Administration
705 : JAVA WITH FLOWABLE
706 : middleware administrator
707 : Oracle Product Engi
708 : java fullstack
709 : UI developers
710 : Liferay Developer
711 : NPD-Interior Trims
712 : Python full stck developer
713 : HR Data Business An
714 : OneShield Dragon Designer
715 : Cybersecurity

In [ ]:
!pip install pyarrow
!pip install pandas

Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (17.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.10/dist-packages (from pyarrow) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd

# Load the CSV file into a DataFrame with encoding specified
df = pd.read_csv('position_salary.csv', encoding='ISO-8859-1')

# Check if the 'salary' column exists, then round off the values
if 'Salary' in df.columns:
    df['Salary'] = ((df['Salary'] / 100000).round() * 100000).astype(int)

# Save the updated DataFrame back to a CSV
df.to_csv('your_file_rounded.csv', index=False)

print("Salary column rounded off successfully!")

Salary column rounded off successfully!

In [ ]:
import pandas as pd

# Load the CSV file into a DataFrame with encoding specified
df = pd.read_csv('/content/your_file_rounded_with_LPA.csv', encoding='ISO-8859-1')

# Check if the 'Salary' column exists, then round off the values
if 'Salary' in df.columns:
    # Round salary to nearest 100000
    df['Salary'] = ((df['Salary'] / 100000).round() * 100000).astype(int)

    # Create a new column for 'Salary in LPA' (Lakhs per Annum)
    df['Salary_in_LPA'] = df['Salary'] / 100000

    # Format the new column to add "LPA" suffix without decimal places
    df['Salary_in_LPA'] = df['Salary_in_LPA'].apply(lambda x: f"{int(x)}LPA")

# Save the updated DataFrame back to a CSV
df.to_csv('your_file_rounded_with_LPA.csv', index=False)

print("Salary column rounded and converted to LPA successfully!")

Salary column rounded and converted to LPA successfully!

In [ ]:
import pandas as pd
import re
from textblob import TextBlob

# Load the CSV file into a DataFrame
df = pd.read_csv('/content/your_file_rounded_with_LPA.csv', encoding='ISO-8859-1')

# Function to clean and correct text
def clean_text(text):
    # Ensure the value is a string before processing
    if isinstance(text, str):
        # Remove special characters and extra spaces
        text = re.sub(r'[^A-Za-z0-9\s]', '', text)  # Remove non-alphanumeric characters except spaces

        # Correct spelling using TextBlob
        corrected_text = str(TextBlob(text).correct())

        # Capitalize the first letter of each word
        corrected_text = corrected_text.title()
        return corrected_text
    return text  # If it's not a string, return it as is (e.g., NaN or numeric)

# Apply the function to the 'Position' column
if 'Position' in df.columns:
    df['Position'] = df['Position'].apply(clean_text)

# Apply the function to the 'Education' column
if 'Education' in df.columns:
    df['Education'] = df['Education'].apply(clean_text)

# Apply the function to the 'Location' column
if 'Location' in df.columns:
    df['Location'] = df['Location'].apply(lambda loc: str(loc).strip().title())

# Save the cleaned DataFrame to a new CSV
df.to_csv('position_salary_cleaned_education_location.csv', index=False)

print("Position, Education, and Location columns cleaned and saved successfully!")

Position, Education, and Location columns cleaned and saved successfully!

In [ ]:
from nltk.tokenize import word_tokenize

text = "This is a test sentence."
tokens = word_tokenize(text)
print(tokens)

LookupError:
**********************************************************************
  Resource punkt_tab not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt_tab')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt_tab/english/

  Searched in:
    - '/root/nltk_data'
    - '/usr/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/local/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/local/lib/nltk_data'
**********************************************************************

In [ ]:
import spacy
import pandas as pd

# Load the spaCy model for English
nlp = spacy.load("en_core_web_sm")

# Define a function to tokenize text
def tokenize_text_spacy(text):
    if isinstance(text, str):  # Ensure input is a string
        doc = nlp(text.lower())  # Convert text to lowercase and process it
        tokens = [token.text for token in doc if token.is_alpha]  # Keep only alphabetic tokens
        return tokens
    return []

# Load the CSV file
df = pd.read_csv('/content/your_file_rounded_with_LPA.csv', encoding='ISO-8859-1')

# Apply the tokenizer to the 'Position' field and add a new column
if 'Position' in df.columns:
    df['Position_Tokens'] = df['Position'].apply(tokenize_text_spacy)

# Save the updated DataFrame to a new CSV
df.to_csv('position_salary_tokenized.csv', index=False)

print("Tokenization completed. Tokens added to the 'Position_Tokens' column.")

Tokenization completed. Tokens added to the 'Position_Tokens' column.

In [ ]:
!pip install whoosh

Collecting whoosh
  Downloading Whoosh-2.7.4-py2.py3-none-any.whl.metadata (3.1 kB)
Downloading Whoosh-2.7.4-py2.py3-none-any.whl (468 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 468.8/468.8 kB 23.7 MB/s eta 0:00:00
Installing collected packages: whoosh
Successfully installed whoosh-2.7.4

In [ ]:
import csv
from whoosh.index import create_in
from whoosh.fields import Schema, TEXT, ID, NUMERIC
from whoosh.qparser import QueryParser
import os

# Step 1: Define the schema for the index
schema = Schema(
    id=ID(stored=True, unique=True),        # Unique ID for each row
    position=TEXT(stored=True),             # Job title
    position_tokens=TEXT(stored=True),      # Tokenized job title
    location=TEXT(stored=True),             # Job location
    education=TEXT(stored=True),            # Education field
    experience=NUMERIC(stored=True),        # Experience in years
    salary=NUMERIC(stored=True),            # Salary field
    salary_in_lpa=TEXT(stored=True)         # Salary in LPA
)

# Step 2: Create the index directory
index_dir = "job_index"
if not os.path.exists(index_dir):
    os.mkdir(index_dir)

# Create an index in the directory
ix = create_in(index_dir, schema)

# Step 3: Add CSV data to the index
csv_file = "/content/position_salary_tokenized.csv"  # Your CSV file
with ix.writer() as writer:
    with open(csv_file, "r", encoding="ISO-8859-1") as f:
        reader = csv.DictReader(f)
        for i, row in enumerate(reader):
            # Convert salary to LPA (assuming preprocessed)
            salary = int(row.get("Salary", 0))
            salary_in_lpa = f"{salary / 100000:.1f}LPA"

            # Write the document to the index
            writer.add_document(
                id=str(i),
                position=row.get("Position", ""),
                position_tokens=row.get("Position_Tokens", ""),  # Precomputed tokens from spaCy
                location=row.get("Location", ""),
                education=row.get("Education", ""),
                experience=int(row.get("Experience (Years)", 0)),  # Convert experience to integer
                salary=salary,
                salary_in_lpa=salary_in_lpa
            )
print("Indexing completed.")

# Step 4: Perform a search query
def search_index(query_string, field="position"):
    with ix.searcher() as searcher:
        parser = QueryParser(field, schema=ix.schema)
        query = parser.parse(query_string)
        results = searcher.search(query, limit=10)  # Limit to top 10 results
        for result in results:

            print("Position:", result['position'])
            print("Location:", result['location'])
            print("Education:", result['education'])
            print("Experience (Years):", result['experience'])
            print("Salary:", result['salary'])
            print("Salary (in LPA):", result['salary_in_lpa'])
            print("Position Tokens:", result['position_tokens'])
            print("-" * 40)

# Example: Search for jobs with 'Engineer' in the position
search_query = "Engineer"
search_index(search_query)

Indexing completed.
Position: Data Engineer, Data Engineer
Location: Pune
Education: B.Sc
Experience (Years): 5
Salary: 700000
Salary (in LPA): 7.0LPA
Position Tokens: ['data', 'engineer', 'data', 'engineer']
----------------------------------------
Position: System Engineer
Location: Hubli
Education: B.Com
Experience (Years): 24
Salary: 2500000
Salary (in LPA): 25.0LPA
Position Tokens: ['system', 'engineer']
----------------------------------------
Position: QA Engineer
Location: New Delhi
Education: B.Tech/B.E.
Experience (Years): 8
Salary: 600000
Salary (in LPA): 6.0LPA
Position Tokens: ['qa', 'engineer']
----------------------------------------
Position: QA Engineer
Location: Bengaluru
Education: BCA
Experience (Years): 7
Salary: 1100000
Salary (in LPA): 11.0LPA
Position Tokens: ['qa', 'engineer']
----------------------------------------
Position: QA Engineer
Location: Gurugram
Education:
Experience (Years): 28
Salary: 2400000
Salary (in LPA): 24.0LPA
Position Tokens: ['qa', 'engineer']
----------------------------------------
Position: QA Engineer
Location: Kolkata
Education: B.B.A/ B.M.S
Experience (Years): 12
Salary: 1600000
Salary (in LPA): 16.0LPA
Position Tokens: ['qa', 'engineer']
----------------------------------------
Position: GCP Engineer
Location: New Delhi
Education: B.Sc
Experience (Years): 16
Salary: 1600000
Salary (in LPA): 16.0LPA
Position Tokens: ['gcp', 'engineer']
----------------------------------------
Position: QA Engineer
Location: Bengaluru
Education: B.Tech/B.E.
Experience (Years): 6
Salary: 900000
Salary (in LPA): 9.0LPA
Position Tokens: ['qa', 'engineer']
----------------------------------------
Position: RPA Engineer
Location: Bengaluru
Education: BCA
Experience (Years): 28
Salary: 600000
Salary (in LPA): 6.0LPA
Position Tokens: ['rpa', 'engineer']
----------------------------------------
Position: Informatica engineer
Location: Nagpur
Education: B.Tech/B.E.
Experience (Years): 13
Salary: 1300000
Salary (in LPA): 13.0LPA
Position Tokens: ['informatica', 'engineer']
----------------------------------------

In [ ]:
import spacy
import pandas as pd

# Load the spaCy model for English
nlp = spacy.load("en_core_web_sm")

# Define a function to tokenize text
def tokenize_text_spacy(text):
    if isinstance(text, str):  # Ensure input is a string
        doc = nlp(text.lower())  # Convert text to lowercase and process it
        tokens = [token.text for token in doc if token.is_alpha]  # Keep only alphabetic tokens
        return tokens
    return []

# Load the CSV file
df = pd.read_csv('/content/your_file_rounded_with_LPA.csv', encoding='ISO-8859-1')

# Specify the fields to tokenize
fields_to_tokenize = ['Position', 'Education', 'Location', 'Salary', 'Salary_in_LPA', 'Experience (Years)']

# Combine all fields into a single string and tokenize
def combine_and_tokenize(row):
    combined_text = " ".join(str(row[field]) for field in fields_to_tokenize if field in row and pd.notnull(row[field]))
    return tokenize_text_spacy(combined_text)

# Apply the combined tokenization to each row and create a new column
df['Combined_Tokens'] = df.apply(combine_and_tokenize, axis=1)

# Save the updated DataFrame to a new CSV
df.to_csv('position_salary_combined_tokenized.csv', index=False)

print("Tokenization completed. Tokens added to the 'Combined_Tokens' column.")

Tokenization completed. Tokens added to the 'Combined_Tokens' column.

In [ ]:
import spacy
import pandas as pd

# Load the spaCy model for English
nlp = spacy.load("en_core_web_sm")

# Define a function to tokenize text and include numeric fields explicitly
def tokenize_text_with_numbers(row, fields_to_tokenize):
    tokens = []

    # Process each field
    for field in fields_to_tokenize:
        if field in row and pd.notnull(row[field]):
            value = str(row[field])
            if field in ['Salary','Experience (Years)']:
                # Add numeric value with descriptive token
                tokens.append(f"{value}")
            else:
                # Tokenize text fields using spaCy
                doc = nlp(value.lower())
                tokens.extend([token.text for token in doc if token.is_alpha])

    return tokens

# Load the CSV file
df = pd.read_csv('/content/your_file_rounded_with_LPA.csv', encoding='ISO-8859-1')

# Specify the fields to tokenize
fields_to_tokenize = ['Position', 'Education', 'Location', 'Salary', 'Salary_in_LPA', 'Experience (Years)']

# Apply tokenization to each row and create a new column
df['Combined_Tokens'] = df.apply(lambda row: tokenize_text_with_numbers(row, fields_to_tokenize), axis=1)

# Save the updated DataFrame to a new CSV
df.to_csv('position_salary_combined_tokenized_with_numbers2.csv', index=False)

print("Tokenization completed. Tokens added to the 'Combined_Tokens' column.")

Tokenization completed. Tokens added to the 'Combined_Tokens' column.

In [ ]:
!pip install whoosh

Collecting whoosh
  Downloading Whoosh-2.7.4-py2.py3-none-any.whl.metadata (3.1 kB)
Downloading Whoosh-2.7.4-py2.py3-none-any.whl (468 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 468.8/468.8 kB 7.0 MB/s eta 0:00:00
Installing collected packages: whoosh
Successfully installed whoosh-2.7.4

In [ ]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata (4.9 kB)
Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [ ]:
from whoosh.index import create_in, open_dir
from whoosh.fields import Schema, TEXT, ID, NUMERIC
from whoosh.qparser import MultifieldParser
import os
import spacy
from fuzzywuzzy import fuzz
import csv

# Load spaCy model
nlp = spacy.load("en_core_web_sm")

# Define schema
schema = Schema(
    id=ID(stored=True, unique=True),
    position=TEXT(stored=True),
    combined_tokens=TEXT(stored=True),
    location=TEXT(stored=True),
    education=TEXT(stored=True),
    experience=NUMERIC(stored=True),
    salary=NUMERIC(stored=True),
    skills=TEXT(stored=True)
)

# Define index directory
index_dir = "job_index"

# Create or open index
if os.path.exists(index_dir) and len(os.listdir(index_dir)) > 0:
    ix = open_dir(index_dir)
else:
    os.mkdir(index_dir)
    ix = create_in(index_dir, schema)

# Indexing data
csv_file = "/content/position_salary_combined_tokenized_with_numbers.csv"
with ix.writer() as writer:
    with open(csv_file, "r", encoding="ISO-8859-1") as f:
        reader = csv.DictReader(f)
        for i, row in enumerate(reader):
            writer.add_document(
                id=str(i),
                position=row.get("Position", ""),
                combined_tokens=row.get("Combined_Tokens", ""),
                location=row.get("Location", ""),
                education=row.get("Education", ""),
                experience=int(row.get("Experience (Years)", 0)),
                salary=int(row.get("Salary", 0)),
                skills=row.get("Skills", "")
            )

print("Indexing completed.")

# Inspect indexed documents
with ix.searcher() as searcher:
    print("Indexed Documents:")
    for doc in searcher.documents():
        print(doc)

# Define location synonyms
location_synonyms = {
    "bengaluru": "bangalore",
    "chennai": "chennai",
    "delhi": "new delhi",
    "mumbai": "mumbai"
}

# Preprocess query
def preprocess_query(query):
    doc = nlp(query)
    tokens, location, experience, salary = [], None, None, None

    for token in doc:
        if token.ent_type_ == "GPE":
            location = location_synonyms.get(token.text.lower(), token.text.lower())
        elif token.ent_type_ == "CARDINAL":
            if "year" in query or "experience" in query:
                experience = int(token.text)
            elif "lpa" in query or "lakh" in query:
                salary = int(token.text)
        elif token.is_alpha:
            tokens.append(token.text)

    print("Parsed Query Tokens:", tokens)
    print("Parsed Location:", location)
    print("Parsed Experience:", experience)
    print("Parsed Salary:", salary)

    return tokens, location, experience, salary

# Search index
def combined_search(query_string):
    tokens, location, experience, salary = preprocess_query(query_string)
    query_tokens = ' '.join(tokens)

    with ix.searcher() as searcher:
        parser = MultifieldParser(["combined_tokens"], schema=ix.schema)
        parsed_query = parser.parse(query_tokens)
        print("Parsed Query:", parsed_query)

        bm25_results = searcher.search(parsed_query, limit=10)
        results_with_scores = []
        for result in bm25_results:
            combined_tokens = result['combined_tokens'].lower()
            fuzzy_score = fuzz.partial_ratio(query_tokens, combined_tokens)

            if location and location in combined_tokens:
                fuzzy_score += 10
            if experience and str(experience) in combined_tokens:
                fuzzy_score

Indexing completed.
Indexed Documents:
{'combined_tokens': "['qnxt', 'configuration', 'qa', 'testing', 'sme', 'ghaziabad', '2000000 salary', '11 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 11, 'id': '0', 'location': 'Ghaziabad', 'position': 'QNXT Configuration QA/Testing SME', 'salary': 2000000, 'skills': ''}
{'combined_tokens': "['provider', 'data', 'management', 'new', 'delhi', '1600000 salary', '24 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 24, 'id': '1', 'location': 'New Delhi', 'position': 'Provider Data Management', 'salary': 1600000, 'skills': ''}
{'combined_tokens': "['accessibility', 'engineer', 'qa', 'bca', 'noida', '1900000 salary', '25 experience (years)']", 'education': 'BCA', 'experience': 25, 'id': '2', 'location': 'Noida', 'position': 'Accessibility Engineer QA', 'salary': 1900000, 'skills': ''}
{'combined_tokens': "['senior', 'software', 'engineer', 'jalandhar', '2400000 salary', '27 experience (years)']", 'education': '', 'experience': 27, 'id': '3', 'location': 'Jalandhar', 'position': 'Senior Software Engineer', 'salary': 2400000, 'skills': ''}
{'combined_tokens': "['java', 'developer', 'spring', 'boot', 'meerut', '1100000 salary', '11 experience (years)']", 'education': 'B.A', 'experience': 11, 'id': '4', 'location': 'Meerut', 'position': 'Java Developer/Spring Boot', 'salary': 1100000, 'skills': ''}
{'combined_tokens': "['ios', 'tester', 'padampur', '2100000 salary', '15 experience (years)']", 'education': 'B.Com', 'experience': 15, 'id': '5', 'location': 'Padampur', 'position': 'iOS Tester', 'salary': 2100000, 'skills': ''}
{'combined_tokens': "['gcp', 'cloud', 'architect', 'new', 'delhi', '1400000 salary', '21 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 21, 'id': '6', 'location': 'New Delhi', 'position': 'GCP Cloud Architect', 'salary': 1400000, 'skills': ''}
{'combined_tokens': "['technical', 'project', 'manager', 'remote', 'bca', 'pune', '900000 salary', '8 experience (years)']", 'education': 'BCA', 'experience': 8, 'id': '7', 'location': 'Pune', 'position': 'Technical Project Manager Remote', 'salary': 900000, 'skills': ''}
{'combined_tokens': "['provider', 'data', 'setup', 'bca', 'kannur', '1500000 salary', '20 experience (years)']", 'education': 'BCA', 'experience': 20, 'id': '8', 'location': 'Kannur', 'position': 'Provider Data Setup', 'salary': 1500000, 'skills': ''}
{'combined_tokens': "['ios', 'tester', 'gurugram', '2000000 salary', '20 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 20, 'id': '9', 'location': 'Gurugram', 'position': 'iOS Tester', 'salary': 2000000, 'skills': ''}
{'combined_tokens': "['technical', 'adf', 'diploma', 'pune', '700000 salary', '7 experience (years)']", 'education': 'Diploma', 'experience': 7, 'id': '10', 'location': 'Pune', 'position': 'Technical Lead(Data ADF)', 'salary': 700000, 'skills': ''}
{'combined_tokens': "['system', 'engineer', 'hubli', '2500000 salary', '24 experience (years)']", 'education': 'B.Com', 'experience': 24, 'id': '11', 'location': 'Hubli', 'position': 'System Engineer', 'salary': 2500000, 'skills': ''}
{'combined_tokens': "['sr', 'tableau', 'or', 'power', 'bi', 'developer', 'diploma', 'kolkata', '600000 salary', '24 experience (years)']", 'education': 'Diploma', 'experience': 24, 'id': '12', 'location': 'Kolkata', 'position': 'Sr. Tableau or Power BI Developer', 'salary': 600000, 'skills': ''}
{'combined_tokens': "['sr', 'tableau', 'or', 'power', 'bi', 'developer', 'bca', 'new', 'delhi', '1100000 salary', '16 experience (years)']", 'education': 'BCA', 'experience': 16, 'id': '13', 'location': 'New Delhi', 'position': 'Sr. Tableau or Power BI Developer', 'salary': 1100000, 'skills': ''}
{'combined_tokens': "['sr', 'tableau', 'or', 'power', 'bi', 'developer', 'gurugram', '1700000 salary', '21 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 21, 'id': '14', 'location': 'Gurugram', 'position': 'Sr. Tableau or Power BI Developer', 'salary': 1700000, 'skills': ''}
{'combined_tokens': "['sr', 'tableau', 'or', 'power', 'bi', 'developer', 'bca', 'prayagraj', '1900000 salary', '15 experience (years)']", 'education': 'BCA', 'experience': 15, 'id': '15', 'location': 'Prayagraj', 'position': 'Sr. Tableau or Power BI Developer', 'salary': 1900000, 'skills': ''}
{'combined_tokens': "['android', 'tester', 'ghaziabad', '2100000 salary', '24 experience (years)']", 'education': 'B.Sc', 'experience': 24, 'id': '16', 'location': 'Ghaziabad', 'position': 'Android Tester', 'salary': 2100000, 'skills': ''}
{'combined_tokens': "['sr', 'data', 'ingestion', 'analytics', 'engineer', 'ranchi', '1900000 salary', '15 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 15, 'id': '17', 'location': 'Ranchi', 'position': 'Sr. Data Ingestion/Analytics Engineer', 'salary': 1900000, 'skills': ''}
{'combined_tokens': "['sr', 'data', 'ingestion', 'analytics', 'engineer', 'bengaluru', '2400000 salary', '19 experience (years)']", 'education': 'B.Sc', 'experience': 19, 'id': '18', 'location': 'Bengaluru', 'position': 'Sr. Data Ingestion/Analytics Engineer', 'salary': 2400000, 'skills': ''}
{'combined_tokens': "['product', 'technical', 'specialist', 'warangal', '900000 salary', '28 experience (years)']", 'education': 'B.Com', 'experience': 28, 'id': '19', 'location': 'Warangal', 'position': 'Ã\x83Â\x82Ã\x82Â\xa0Product Technical Specialist', 'salary': 900000, 'skills': ''}
{'combined_tokens': "['product', 'technical', 'specialist', 'pune', '2000000 salary', '7 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 7, 'id': '20', 'location': 'Pune', 'position': 'Ã\x83Â\x82Ã\x82Â\xa0Product Technical Specialist', 'salary': 2000000, 'skills': ''}
{'combined_tokens': "['product', 'technical', 'specialist', 'hyderabad', '1300000 salary', '17 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 17, 'id': '21', 'location': 'Hyderabad', 'position': 'Ã\x83Â\x82Ã\x82Â\xa0Product Technical Specialist', 'salary': 1300000, 'skills': ''}
{'combined_tokens': "['product', 'technical', 'specialist', 'gurugram', '1600000 salary', '26 experience (years)']", 'education': 'B.A', 'experience': 26, 'id': '22', 'location': 'Gurugram', 'position': 'Ã\x83Â\x82Ã\x82Â\xa0Product Technical Specialist', 'salary': 1600000, 'skills': ''}
{'combined_tokens': "['data', 'architect', 'bengaluru', '900000 salary', '23 experience (years)']", 'education': 'B.Sc', 'experience': 23, 'id': '23', 'location': 'Bengaluru', 'position': 'Data Architect', 'salary': 900000, 'skills': ''}
{'combined_tokens': "['qa', 'tester', 'bca', 'noida', '1100000 salary', '16 experience (years)']", 'education': 'BCA', 'experience': 16, 'id': '24', 'location': 'Noida', 'position': 'QA Tester /Selenium', 'salary': 1100000, 'skills': ''}
{'combined_tokens': "['cloud', 'architect', 'gurugram', '1200000 salary', '20 experience (years)']", 'education': 'B.Com', 'experience': 20, 'id': '25', 'location': 'Gurugram', 'position': 'Cloud Architect', 'salary': 1200000, 'skills': ''}
{'combined_tokens': "['cloud', 'architect', 'lucknow', '2400000 salary', '20 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 20, 'id': '26', 'location': 'Lucknow', 'position': 'Cloud Architect', 'salary': 2400000, 'skills': ''}
{'combined_tokens': "['devops', 'eng', 'faridabad', '900000 salary', '20 experience (years)']", 'education': 'B.Com', 'experience': 20, 'id': '27', 'location': 'Faridabad', 'position': 'DevOps Eng', 'salary': 900000, 'skills': ''}
{'combined_tokens': "['data', 'architect', 'diploma', 'guwahati', '900000 salary', '25 experience (years)']", 'education': 'Diploma', 'experience': 25, 'id': '28', 'location': 'Guwahati', 'position': 'Data Architect', 'salary': 900000, 'skills': ''}
{'combined_tokens': "['tapestry', 'manager', 'of', 'configuration', 'bca', 'kanpur', '800000 salary', '18 experience (years)']", 'education': 'BCA', 'experience': 18, 'id': '29', 'location': 'Kanpur', 'position': 'Tapestry Manager of Configuration', 'salary': 800000, 'skills': ''}
{'combined_tokens': "['qnxt', 'configuration', 'sme', 'bengaluru', '1700000 salary', '14 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 14, 'id': '30', 'location': 'Bengaluru', 'position': 'QNXT Configuration SME', 'salary': 1700000, 'skills': ''}
{'combined_tokens': "['sr', 'software', 'azure', 'noida', '2400000 salary', '19 experience (years)']", 'education': 'B.A', 'experience': 19, 'id': '31', 'location': 'Noida', 'position': 'Sr. software engineer/.Net,Azure', 'salary': 2400000, 'skills': ''}
{'combined_tokens': "['sr', 'software', 'azure', 'diva', 'maharashtra', '2000000 salary', '28 experience (years)']", 'education': 'B.A', 'experience': 28, 'id': '32', 'location': 'Diva - Maharashtra', 'position': 'Sr. software engineer/.Net,Azure', 'salary': 2000000, 'skills': ''}
{'combined_tokens': "['facets', 'sme', 'gurugram', '2200000 salary', '14 experience (years)']", 'education': 'B.A', 'experience': 14, 'id': '33', 'location': 'Gurugram', 'position': 'Facets SME', 'salary': 2200000, 'skills': ''}
{'combined_tokens': "['facets', 'sme', 'new', 'delhi', '2400000 salary', '21 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 21, 'id': '34', 'location': 'New Delhi', 'position': 'Facets SME', 'salary': 2400000, 'skills': ''}
{'combined_tokens': "['senior', 'business', 'analyst', 'bca', 'kolkata', '1400000 salary', '21 experience (years)']", 'education': 'BCA', 'experience': 21, 'id': '35', 'location': 'Kolkata', 'position': 'Senior Business Analyst', 'salary': 1400000, 'skills': ''}
{'combined_tokens': "['claims', 'sme', 'visakhapatnam', '1400000 salary', '6 experience (years)']", 'education': 'B.Sc', 'experience': 6, 'id': '36', 'location': 'Visakhapatnam', 'position': 'Claims SME', 'salary': 1400000, 'skills': ''}
{'combined_tokens': "['sr', 'data', 'ingestion', 'analytics', 'engineer', 'kolkata', '2200000 salary', '11 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 11, 'id': '37', 'location': 'Kolkata', 'position': 'Sr. Data Ingestion/Analytics Engineer', 'salary': 2200000, 'skills': ''}
{'combined_tokens': "['senior', 'data', 'program', 'manager', 'bca', 'new', 'delhi', '2500000 salary', '8 experience (years)']", 'education': 'BCA', 'experience': 8, 'id': '38', 'location': 'New Delhi', 'position': 'Senior Data Program Manager', 'salary': 2500000, 'skills': ''}
{'combined_tokens': "['iam', 'architect', 'kolkata', '800000 salary', '8 experience (years)']", 'education': 'B.Com', 'experience': 8, 'id': '39', 'location': 'Kolkata', 'position': 'IAM Architect', 'salary': 800000, 'skills': ''}
{'combined_tokens': "['senior', 'analyst', 'pune', '2000000 salary', '11 experience (years)']", 'education': 'B.Com', 'experience': 11, 'id': '40', 'location': 'Pune', 'position': 'Senior Analyst', 'salary': 2000000, 'skills': ''}
{'combined_tokens': "['senior', 'analyst', 'kolkata', '1300000 salary', '9 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 9, 'id': '41', 'location': 'Kolkata', 'position': 'Senior Analyst', 'salary': 1300000, 'skills': ''}
{'combined_tokens': "['senior', 'software', 'new', 'delhi', '1700000 salary', '12 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 12, 'id': '42', 'location': 'New Delhi', 'position': 'Senior Software Engineer/.Net', 'salary': 1700000, 'skills': ''}
{'combined_tokens': "['sr', 'data', 'ingestion', 'analytics', 'engineer', 'new', 'delhi', '600000 salary', '18 experience (years)']", 'education': 'B.Com', 'experience': 18, 'id': '43', 'location': 'New Delhi', 'position': 'Sr. Data Ingestion/Analytics Engineer', 'salary': 600000, 'skills': ''}
{'combined_tokens': "['sr', 'software', 'azure', 'new', 'delhi', '900000 salary', '15 experience (years)']", 'education': 'B.B.A/ B.M.S', 'experience': 15, 'id': '44', 'location': 'New Delhi', 'position': 'Sr. software engineer/.Net,Azure', 'salary': 900000, 'skills': ''}
{'combined_tokens': "['cloud', 'architect', 'bca', 'new', 'delhi', '2500000 salary', '20 experience (years)']", 'education': 'BCA', 'experience': 20, 'id': '45', 'location': 'New Delhi', 'position': 'Cloud Architect', 'salary': 2500000, 'skills': ''}
{'combined_tokens': "['cloud', 'architect', 'pune', '2100000 salary', '10 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 10, 'id': '46', 'location': 'Pune', 'position': 'Cloud Architect', 'salary': 2100000, 'skills': ''}
{'combined_tokens': "['sr', 'software', 'azure', 'bca', 'noida', '1700000 salary', '20 experience (years)']", 'education': 'BCA', 'experience': 20, 'id': '47', 'location': 'Noida', 'position': 'Sr. software engineer/.Net,Azure', 'salary': 1700000, 'skills': ''}
{'combined_tokens': "['sr', 'data', 'platform', 'engineer', 'kolkata', '1100000 salary', '14 experience (years)']", 'education': 'B.B.A/ B.M.S', 'experience': 14, 'id': '48', 'location': 'Kolkata', 'position': 'Sr. Data Platform Engineer', 'salary': 1100000, 'skills': ''}
{'combined_tokens': "['qnxt', 'technical', 'role', 'jaipur', '700000 salary', '19 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 19, 'id': '49', 'location': 'Jaipur', 'position': 'QNXT technical role', 'salary': 700000, 'skills': ''}
{'combined_tokens': "['qnxt', 'technical', 'role', 'kolkata', '800000 salary', '6 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 6, 'id': '50', 'location': 'Kolkata', 'position': 'QNXT technical role', 'salary': 800000, 'skills': ''}
{'combined_tokens': "['qnxt', 'technical', 'role', 'indore', '1500000 salary', '5 experience (years)']", 'education': 'B.Com', 'experience': 5, 'id': '51', 'location': 'Indore', 'position': 'QNXT technical role', 'salary': 1500000, 'skills': ''}
{'combined_tokens': "['sr', 'software', 'azure', 'bengaluru', '1200000 salary', '25 experience (years)']", 'education': 'B.Sc', 'experience': 25, 'id': '52', 'location': 'Bengaluru', 'position': 'Sr. software engineer/.Net,Azure', 'salary': 1200000, 'skills': ''}
{'combined_tokens': "['java', 'developer', 'spring', 'boot', 'hyderabad', '900000 salary', '17 experience (years)']", 'education': 'B.Com', 'experience': 17, 'id': '53', 'location': 'Hyderabad', 'position': 'Java Developer/Spring Boot', 'salary': 900000, 'skills': ''}
{'combined_tokens': "['qnxt', 'technical', 'role', 'mumbai', '1500000 salary', '21 experience (years)']", 'education': 'B.Com', 'experience': 21, 'id': '54', 'location': 'Mumbai', 'position': 'QNXT technical role', 'salary': 1500000, 'skills': ''}
{'combined_tokens': "['tapestry', 'provider', 'analyst', 'noida', '2100000 salary', '11 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 11, 'id': '55', 'location': 'Noida', 'position': 'Tapestry Provider Analyst', 'salary': 2100000, 'skills': ''}
{'combined_tokens': "['fhir', 'sme', 'bca', 'bilaspur', '1200000 salary', '12 experience (years)']", 'education': 'BCA', 'experience': 12, 'id': '56', 'location': 'Bilaspur', 'position': 'FHIR SME', 'salary': 1200000, 'skills': ''}
{'combined_tokens': "['ba', 'healthcare', 'sql', 'new', 'delhi', '2100000 salary', '18 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 18, 'id': '57', 'location': 'New Delhi', 'position': 'BA Healthcare/SQL', 'salary': 2100000, 'skills': ''}
{'combined_tokens': "['ba', 'healthcare', 'sql', 'pune', '800000 salary', '14 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 14, 'id': '58', 'location': 'Pune', 'position': 'BA Healthcare/SQL', 'salary': 800000, 'skills': ''}
{'combined_tokens': "['ba', 'healthcare', 'sql', 'new', 'delhi', '800000 salary', '14 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 14, 'id': '59', 'location': 'New Delhi', 'position': 'BA Healthcare/SQL', 'salary': 800000, 'skills': ''}
{'combined_tokens': "['sr', 'developer', 'noida', '1800000 salary', '16 experience (years)']", 'education': 'B.Com', 'experience': 16, 'id': '60', 'location': 'Noida', 'position': 'Sr. .Net developer', 'salary': 1800000, 'skills': ''}
{'combined_tokens': "['sr', 'data', 'platform', 'engineer', 'pune', '2300000 salary', '7 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 7, 'id': '61', 'location': 'Pune', 'position': 'Sr. Data Platform Engineer', 'salary': 2300000, 'skills': ''}
{'combined_tokens': "['associate', 'lead', 'analys', 'hyderabad', '1700000 salary', '6 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 6, 'id': '62', 'location': 'Hyderabad', 'position': 'Associate Lead Analys', 'salary': 1700000, 'skills': ''}
{'combined_tokens': "['program', 'manager', 'mumbai', '1700000 salary', '17 experience (years)']", 'education': 'B.Com', 'experience': 17, 'id': '63', 'location': 'Mumbai', 'position': 'Program Manager', 'salary': 1700000, 'skills': ''}
{'combined_tokens': "['sr', 'data', 'ingestion', 'analytics', 'engineer', 'kolkata', '800000 salary', '11 experience (years)']", 'education': 'B.Com', 'experience': 11, 'id': '64', 'location': 'Kolkata', 'position': 'Sr. Data Ingestion/Analytics Engineer', 'salary': 800000, 'skills': ''}
{'combined_tokens': "['qnxt', 'technical', 'role', 'navi', 'mumbai', '1100000 salary', '21 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 21, 'id': '65', 'location': 'Navi Mumbai', 'position': 'QNXT technical role', 'salary': 1100000, 'skills': ''}
{'combined_tokens': "['cloud', 'architect', 'bca', 'new', 'delhi', '1000000 salary', '16 experience (years)']", 'education': 'BCA', 'experience': 16, 'id': '66', 'location': 'New Delhi', 'position': 'Cloud Architect', 'salary': 1000000, 'skills': ''}
{'combined_tokens': "['scrum', 'master', 'guwahati', '1900000 salary', '11 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 11, 'id': '67', 'location': 'Guwahati', 'position': 'Scrum Master', 'salary': 1900000, 'skills': ''}
{'combined_tokens': "['cloud', 'architect', 'bengaluru', '1200000 salary', '20 experience (years)']", 'education': 'B.B.A/ B.M.S', 'experience': 20, 'id': '68', 'location': 'Bengaluru', 'position': 'Cloud Architect', 'salary': 1200000, 'skills': ''}
{'combined_tokens': "['scrum', 'master', 'bengaluru', '2000000 salary', '6 experience (years)']", 'education': 'B.Com', 'experience': 6, 'id': '69', 'location': 'Bengaluru', 'position': 'Scrum Master', 'salary': 2000000, 'skills': ''}
{'combined_tokens': "['scrum', 'master', 'chennai', '1200000 salary', '17 experience (years)']", 'education': 'B.Sc', 'experience': 17, 'id': '70', 'location': 'Chennai', 'position': 'Scrum Master', 'salary': 1200000, 'skills': ''}
{'combined_tokens': "['qa', 'engineer', 'new', 'delhi', '600000 salary', '8 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 8, 'id': '71', 'location': 'New Delhi', 'position': 'QA Engineer', 'salary': 600000, 'skills': ''}
{'combined_tokens': "['qa', 'engineer', 'bca', 'bengaluru', '1100000 salary', '7 experience (years)']", 'education': 'BCA', 'experience': 7, 'id': '72', 'location': 'Bengaluru', 'position': 'QA Engineer', 'salary': 1100000, 'skills': ''}
{'combined_tokens': "['qa', 'engineer', 'gurugram', '2400000 salary', '28 experience (years)']", 'education': '', 'experience': 28, 'id': '73', 'location': 'Gurugram', 'position': 'QA Engineer', 'salary': 2400000, 'skills': ''}
{'combined_tokens': "['senior', 'analyst', 'ui', 'ux', 'new', 'delhi', '1000000 salary', '26 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 26, 'id': '74', 'location': 'New Delhi', 'position': 'Senior Analyst - UI/UX', 'salary': 1000000, 'skills': ''}
{'combined_tokens': "['qa', 'engineer', 'kolkata', '1600000 salary', '12 experience (years)']", 'education': 'B.B.A/ B.M.S', 'experience': 12, 'id': '75', 'location': 'Kolkata', 'position': 'QA Engineer', 'salary': 1600000, 'skills': ''}
{'combined_tokens': "['tech', 'lead', 'devops', 'aws', 'pune', '2400000 salary', '21 experience (years)']", 'education': 'B.Tech/B.E.', 'experience': 21, 'id': '76', 'location': 'Pune', 'position': 'Tech Lead, DevOps, AWS', 'salary': 2400000, 'skills': ''}

In [ ]:
import os
import csv
import spacy
from whoosh.index import create_in, open_dir
from whoosh.fields import Schema, TEXT, ID, NUMERIC
from whoosh.qparser import MultifieldParser
from fuzzywuzzy import fuzz

# Load spaCy model
nlp = spacy.load("en_core_web_sm")

# Define schema for the index
schema = Schema(
    id=ID(stored=True, unique=True),
    position=TEXT(stored=True),
    combined_tokens=TEXT(stored=True),
    location=TEXT(stored=True),
    education=TEXT(stored=True),
    experience=NUMERIC(stored=True),
    salary=NUMERIC(stored=True),
    skills=TEXT(stored=True)
)

# Define index directory
index_dir = "job_index"

# Create or open the index
if os.path.exists(index_dir) and len(os.listdir(index_dir)) > 0:
    ix = open_dir(index_dir)
else:
    os.mkdir(index_dir)
    ix = create_in(index_dir, schema)

# Indexing data
csv_file = "/content/position_salary_combined_tokenized_with_numbers.csv"
with ix.writer() as writer:
    with open(csv_file, "r", encoding="ISO-8859-1") as f:
        reader = csv.DictReader(f)
        for i, row in enumerate(reader):
            writer.add_document(
                id=str(i),
                position=row.get("Position", ""),
                combined_tokens=row.get("Combined_Tokens", ""),
                location=row.get("Location", ""),
                education=row.get("Education", ""),
                experience=int(row.get("Experience (Years)", 0)),
                salary=int(row.get("Salary", 0)),
                skills=row.get("Skills", "")
            )

print("Indexing completed.")

# Function to preprocess query into tokens
def preprocess_query(query):
    doc = nlp(query)
    tokens = [token.text.lower() for token in doc if not token.is_punct and not token.is_stop]
    return tokens

# Perform fuzzy search
def fuzzy_search(query_string, top_n=10):
    user_tokens = preprocess_query(query_string)  # Tokenize user query
    query_combined = " ".join(user_tokens)        # Combine tokens into a single string for matching

    with ix.searcher() as searcher:
        results = []

        # Iterate through indexed documents
        for doc in searcher.documents():
            combined_tokens = doc["combined_tokens"].lower()
            fuzzy_score = fuzz.token_sort_ratio(query_combined, combined_tokens)

            results.append({
                "position": doc["position"],
                "location": doc["location"],
                "education": doc["education"],
                "experience": doc["experience"],
                "salary": doc["salary"],
                "skills": doc["skills"],
                "combined_tokens": combined_tokens,
                "score": fuzzy_score
            })

        # Sort results by fuzzy score in descending order
        sorted_results = sorted(results, key=lambda x: x["score"], reverse=True)[:top_n]

        # Display results
        if not sorted_results:
            print("No matching jobs found.")
        else:
            for result in sorted_results:
                print("Position:", result["position"])
                print("Location:", result["location"])
                print("Education:", result["education"])
                print("Experience (Years):", result["experience"])
                print("Salary:", result["salary"])
                print("Skills:", result["skills"])
                print("Combined Tokens:", result["combined_tokens"])
                print("Fuzzy Score:", result["score"])
                print("-" * 40)

# Example query
query = "jobs in Ghaziabad with 2000000"
fuzzy_search(query)

Indexing completed.
Position: Application/ Product
Location: Ghaziabad
Education: B.Tech/B.E.
Experience (Years): 27
Salary: 2000000
Skills:
Combined Tokens: ['product', 'ghaziabad', '2000000', '27']
Fuzzy Score: 67
----------------------------------------
Position: C++
Location: Ghaziabad
Education: B.Sc
Experience (Years): 22
Salary: 900000
Skills:
Combined Tokens: ['ghaziabad', '900000', '22']
Fuzzy Score: 67
----------------------------------------
Position: C++
Location: Ghaziabad
Education: B.Tech/B.E.
Experience (Years): 10
Salary: 600000
Skills:
Combined Tokens: ['ghaziabad', '600000', '10']
Fuzzy Score: 67
----------------------------------------
Position: Application/ Product
Location: Ghaziabad
Education: B.Tech/B.E.
Experience (Years): 27
Salary: 2000000
Skills:
Combined Tokens: ['product', 'ghaziabad', '2000000', '27']
Fuzzy Score: 67
----------------------------------------
Position: C++
Location: Ghaziabad
Education: B.Sc
Experience (Years): 22
Salary: 900000
Skills:
Combined Tokens: ['ghaziabad', '900000', '22']
Fuzzy Score: 67
----------------------------------------
Position: C++
Location: Ghaziabad
Education: B.Tech/B.E.
Experience (Years): 10
Salary: 600000
Skills:
Combined Tokens: ['ghaziabad', '600000', '10']
Fuzzy Score: 67
----------------------------------------
Position: SYBASE
Location: Ghaziabad
Education: B.A
Experience (Years): 6
Salary: 1900000
Skills:
Combined Tokens: ['sybase', 'ghaziabad', '1900000', '6']
Fuzzy Score: 65
----------------------------------------
Position: SYBASE
Location: Ghaziabad
Education: B.A
Experience (Years): 6
Salary: 1900000
Skills:
Combined Tokens: ['sybase', 'ghaziabad', '1900000', '6']
Fuzzy Score: 65
----------------------------------------
Position: Application/ Product
Location: Ghaziabad
Education: B.Tech/B.E.
Experience (Years): 27
Salary: 2000000
Skills:
Combined Tokens: ['product', 'ghaziabad', '2000000 salary', '27 experience (years)']
Fuzzy Score: 64
----------------------------------------
Position: C++
Location: Ghaziabad
Education: B.Sc
Experience (Years): 22
Salary: 900000
Skills:
Combined Tokens: ['ghaziabad', '900000 salary', '22 experience (years)']
Fuzzy Score: 64
----------------------------------------

In [ ]:
import os
import csv
import spacy
from whoosh.index import create_in, open_dir
from whoosh.fields import Schema, TEXT, ID, NUMERIC
from fuzzywuzzy import fuzz

# Load spaCy model
nlp = spacy.load("en_core_web_sm")

# Define schema for the index
schema = Schema(
    id=ID(stored=True, unique=True),
    position=TEXT(stored=True),
    combined_tokens=TEXT(stored=True),
    location=TEXT(stored=True),
    education=TEXT(stored=True),
    experience=NUMERIC(stored=True),
    salary=NUMERIC(stored=True),
    skills=TEXT(stored=True)
)

# Define index directory
index_dir = "job_index"

# Create or open the index
if os.path.exists(index_dir) and len(os.listdir(index_dir)) > 0:
    ix = open_dir(index_dir)
else:
    os.mkdir(index_dir)
    ix = create_in(index_dir, schema)

# Indexing data
csv_file = "/content/position_salary_combined_tokenized_with_numbers2.csv"
with ix.writer() as writer:
    with open(csv_file, "r", encoding="ISO-8859-1") as f:
        reader = csv.DictReader(f)
        for i, row in enumerate(reader):
            writer.add_document(
                id=str(i),
                position=row.get("Position", ""),
                combined_tokens=row.get("Combined_Tokens", ""),
                location=row.get("Location", ""),
                education=row.get("Education", ""),
                experience=int(row.get("Experience (Years)", 0)),
                salary=int(row.get("Salary", 0)),
                skills=row.get("Skills", "")
            )

print("Indexing completed.")

# Function to extract keywords from text
def extract_keywords(text):
    doc = nlp(text)
    keywords = [token.text.lower() for token in doc if token.pos_ in {"NOUN", "PROPN", "ADJ"}]
    return set(keywords)

# Perform keyword-based search
def keyword_relevancy_search(query_string, top_n=10):
    user_keywords = extract_keywords(query_string)  # Extract keywords from user query

    with ix.searcher() as searcher:
        results = []

        # Iterate through indexed documents
        for doc in searcher.documents():
            combined_tokens = doc["combined_tokens"].lower()
            combined_keywords = extract_keywords(combined_tokens)

            # Calculate relevancy as the number of matching keywords
            matching_keywords = user_keywords.intersection(combined_keywords)
            matching_count = len(matching_keywords)

            # Calculate fuzzy score for added context
            fuzzy_score = fuzz.token_sort_ratio(query_string.lower(), combined_tokens)

            results.append({
                "position": doc["position"],
                "location": doc["location"],
                "education": doc["education"],
                "experience": doc["experience"],
                "salary": doc["salary"],
                "skills": doc["skills"],
                "combined_tokens": combined_tokens,
                "matching_count": matching_count,
                "fuzzy_score": fuzzy_score,
                "matching_keywords": list(matching_keywords)
            })

        # Sort results by matching keyword count, then fuzzy score
        sorted_results = sorted(
            results,
            key=lambda x: (x["matching_count"], x["fuzzy_score"]),
            reverse=True
        )[:top_n]

        # Display results
        if not sorted_results:
            print("No matching jobs found.")
        else:
            print(f"Top {top_n} Matching Results:\n")
            for result in sorted_results:
                print("Position:", result["position"])
                print("Location:", result["location"])
                print("Education:", result["education"])
                print("Experience (Years):", result["experience"])
                print("Salary:", result["salary"])
                print("Skills:", result["skills"])
                print("Combined Tokens:", result["combined_tokens"])
                print("Matching Keywords:", result["matching_keywords"])
                print("Matching Keywords Count:", result["matching_count"])
                print("Fuzzy Score:", result["fuzzy_score"])
                print("-" * 40)

# Example query
query = "jobs for engineer QA in Bangalore with 11 years of experience and 21LPA"
keyword_relevancy_search(query)

Indexing completed.
Top 10 Matching Results:

Position: Software Engineer
Location: Bengaluru
Education:
Experience (Years): 24
Salary: 1000000
Skills:
Combined Tokens: ['software', 'engineer', 'bengaluru', '1000000', '24']
Matching Keywords: ['engineer']
Matching Keywords Count: 1
Fuzzy Score: 48
----------------------------------------
Position: Software Engineer
Location: Bengaluru
Education:
Experience (Years): 24
Salary: 1000000
Skills:
Combined Tokens: ['software', 'engineer', 'bengaluru', '1000000', '24']
Matching Keywords: ['engineer']
Matching Keywords Count: 1
Fuzzy Score: 48
----------------------------------------
Position: GCP DATA Engineer
Location: work from home banglore - Karnataka
Education: B.Tech/B.E.
Experience (Years): 20
Salary: 1600000
Skills:
Combined Tokens: ['gcp', 'data', 'engineer', 'work', 'from', 'home', 'banglore', 'karnataka', '1600000', '20']
Matching Keywords: ['engineer']
Matching Keywords Count: 1
Fuzzy Score: 47
----------------------------------------
Position: GCP DATA Engineer
Location: work from home banglore - Karnataka
Education: B.Tech/B.E.
Experience (Years): 20
Salary: 1600000
Skills:
Combined Tokens: ['gcp', 'data', 'engineer', 'work', 'from', 'home', 'banglore', 'karnataka', '1600000', '20']
Matching Keywords: ['engineer']
Matching Keywords Count: 1
Fuzzy Score: 47
----------------------------------------
Position: Principal Software Engineer, BNY Mellon London
Location: Pune
Education: B.Tech/B.E.
Experience (Years): 22
Salary: 1700000
Skills:
Combined Tokens: ['principal', 'software', 'engineer', 'bny', 'mellon', 'london', 'pune', '1700000', '22']
Matching Keywords: ['engineer']
Matching Keywords Count: 1
Fuzzy Score: 45
----------------------------------------
Position: Principal Software Engineer, BNY Mellon London
Location: Pune
Education: B.Tech/B.E.
Experience (Years): 22
Salary: 1700000
Skills:
Combined Tokens: ['principal', 'software', 'engineer', 'bny', 'mellon', 'london', 'pune', '1700000', '22']
Matching Keywords: ['engineer']
Matching Keywords Count: 1
Fuzzy Score: 45
----------------------------------------
Position: Sr. Data Ingestion/Analytics Engineer
Location: Bengaluru
Education: B.Sc
Experience (Years): 19
Salary: 2400000
Skills:
Combined Tokens: ['sr', 'data', 'ingestion', 'analytics', 'engineer', 'bengaluru', '2400000', '19']
Matching Keywords: ['engineer']
Matching Keywords Count: 1
Fuzzy Score: 44
----------------------------------------
Position: Sr. Data Ingestion/Analytics Engineer
Location: Bengaluru
Education: B.Sc
Experience (Years): 19
Salary: 2400000
Skills:
Combined Tokens: ['sr', 'data', 'ingestion', 'analytics', 'engineer', 'bengaluru', '2400000', '19']
Matching Keywords: ['engineer']
Matching Keywords Count: 1
Fuzzy Score: 44
----------------------------------------
Position: QA Engineer
Location: Bengaluru
Education: BCA
Experience (Years): 7
Salary: 1100000
Skills:
Combined Tokens: ['qa', 'engineer', 'bca', 'bengaluru', '1100000', '7']
Matching Keywords: ['engineer']
Matching Keywords Count: 1
Fuzzy Score: 43
----------------------------------------
Position: Senior Identity Engineer
Location: Bengaluru
Education: B.B.A/ B.M.S
Experience (Years): 28
Salary: 2500000
Skills:
Combined Tokens: ['senior', 'identity', 'engineer', 'bengaluru', '2500000', '28']
Matching Keywords: ['engineer']
Matching Keywords Count: 1
Fuzzy Score: 43
----------------------------------------